
@model IEnumerable<PetFashionWebShop.ModelServices.CartItem>
@{
    ViewData["Title"] = "Cart";
}
@if (ViewBag.ErrorMessage != null)
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			Swal.fire({
				icon: 'warning',
				title: 'Xin Lỗi Bạn',
				text: '@ViewBag.ErrorMessage',
			});
		});
	</script>
}

<!-- Cart Page Start -->
<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Products</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td >
								<img src="@item.Hinh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.TenHH" />
							</td>
							<td>
								@item.TenHH
							</td>
							<td>
								@* @item.DonGia *@
								@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} VND", item.DonGia)
							</td>
							<td>
								@* @if (CartController.CheckStock(ViewBag.Context, item.MaHh, item.SoLuong + 1))
								{ *@
								 <a class="btn btn-warning" href="/Cart/AddToCart?id=@item.MaHh&&redirect=1">+</a>
								  
								@* }
								else
								{
									<span style="border: 1px solid;padding: 8px 8px;color: red;border-radius: 5px;margin-right:4px">Out of stock </span>
								} *@
								
								@item.SoLuong
								<a class="btn btn-warning" href="/Cart/RemoveItem?id=@item.MaHh">-</a>
							</td>
							<td>
								@* @item.ThanhTien *@
								@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} VND", item.ThanhTien)
							</td>
							<td>

								<a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.MaHh" class="btn btn-danger">
                                    Delete
								</a>
							
							</td>
							
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="mt-5">
			@* <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code"> *@
			<a class="btn btn-warning rounded-pill px-4 py-3 text-uppercase" type="button" href="/Products/Index">Continue Shopping</a>
		</div>
		<div class="row g-4 justify-content-end">
			<div class="col-8"></div>
			<div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
				<div class="bg-light rounded">
					<div class="p-4">
						<h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
						<div class="d-flex justify-content-between mb-4">
							<h5 class="mb-0 me-4">Subtotal:</h5>
							<p class="mb-0">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} VND", Model.Sum(p => p.ThanhTien))</p>
							
						</div>
@* 						<div class="d-flex justify-content-between">
							<h5 class="mb-0 me-4">Shipping</h5>
							<div class="">
								<p class="mb-0">Flat rate: 30.000 vnd</p>
							</div>
						</div> *@
						<p class="mb-0 text-end">Shipping around to Viet Nam.</p>
					</div>
					<div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
						<h5 class="mb-0 ps-4 me-4">Total</h5>
						<p class="mb-0 pe-4">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} VND", Model.Sum(p => p.ThanhTien))</p>
						
					</div>
					@* <a class="btn btn-danger rounded-pill px-4 py-3 text-danger text-uppercase mb-4 ms-4" href="/Cart/Checkout">Proceed Checkout</a> *@
					<a class="btn btn-danger rounded-pill px-4 py-3 text-danger text-uppercase mb-4 ms-4" asp-action="CheckoutView" asp-controller="Cart">Proceed Checkout</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Cart Page End -->