@model IEnumerable<PetFashionWebShop.Models.Favorite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>Image </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
                <td>
                   
                    @* <img src="@Html.DisplayFor(modelItem => item.Product.Image)" style="width: 100px; height: auto;" /> *@
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.ProductId"><img src="@Html.DisplayFor(modelItem => item.Product.Image)" style="width: 100px; height: auto;" alt="image"></a>
                </td>
            <td>

                <a asp-action="Delete" asp-route-id="@item.FavoriteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
